<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="UTF-8">
    <title>일지들 보기</title>
</head>
<body>
<div th:each="item: ${diaryList}">
    <a th:href="@{'/content/' + ${item.getId()}}">
        <div>
            <span th:text="${item.getWdate()}"></span>
            <span> 일지 보기</span>
        </div>
    </a>
</div>
<a th:href="@{'/write'}">
    <button>일지 쓰기</button>
</a>
</body>
</html>